<h2>Edit Doctor</h2>
<%= form_for(@doctor) do |f| %>
  <%= f.label :name, "Doctor's Name" %><br>
  <%= f.text_field :name %><br>
  <%= f.label :practice_type, "Doctor's Practice" %><br>
  <%= f.text_field :practice_type %><br>
  <%= f.submit "Submit" %>
<% end %>
<%= link_to "Cancel", doctor_path(@doctor) %>