<% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2>There were some errors:</h2>

      <ul>
        <% @appointment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<%= form_for(@appointment) do |f| %>
  <%= f.label :location, "Appointment Location:" %><br>
  <%= f.text_field :location %><br>
  <%= f.label :doctor, "Appointment Doctor:" %>
  <%= f.collection_select :doctor_id, Doctor.all, :id, :name %><br>
  <%= f.label :time, "Appointment Time:" %><br>
  <%= f.datetime_select :time %><br>

  <%= f.submit %>
<% end %>