<h3>Appointment Form</h3>

<%= form_for(@appointment) do |f| %>
  <%= f.label :location, "Appointment Location:" %><br>
  <%= f.text_field :location %><br>
  <%= f.label :time, "Appointment Time:" %><br>
  <%= f.text_field :time %><br>

  <%= f.submit %>
<% end %>